<div class="number_sub col-sm-4">
                        <div class="number_header">
                            78
                        </div>

                        <div class="number_body">
                            techers
                        </div>
                    </div>
                    <div class="number_sub col-sm-4">
                        <div class="number_header">
                            9
                        </div>

                        <div class="number_body">
                            locations
                        </div>
                    </div>
                    <div class="number_sub col-sm-4">
                        <div class="number_header">
                            9
                        </div>

                        <div class="number_body">
                            locations
                        </div>
                    </div>



                    BANKING & ACCOUNT SECTOR
HEALTH CARE SECTOR


ELECTRONICS SECTOR


TEXTILE AND APPARELS



TELECOM SECTOR



HOSPITALITY SECTOR(FULL TIME)



RETAIL SECTOR



BEAUTICIAN SECTOR



AGRICULTURE SECTOR



FASHION DESIGN



IT/ITES
































