body {
    padding-top: 150px;
    min-height: 80vh;
    height: 100%;
    width: 100%;
}
#alert_done{
 position: fixed;
    bottom: 0;
    right: 0;
}
#btn_skill1 {
    width: 100%;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    color: #ff853f;
    z-index: 1000;
    margin: 10px 10px 10px 10px;
}

#btn_skill1:hover {
    width: 100%;
    background-color: #ff853f;
    color: #fff;
    border: 0px solid #fff;
}

.courses_header {
    font-size: 24px;
    font-family: 'Lato';
    color: #ff853f;
    padding: 10px 10px 10px 10px;
}

nav {
    background-color: #ff853f;
    font-family: 'Lato Light', sans-serif;

}

.btn {
    width: 100%;
    background-color: #fff;
    color: #ff853f;
    border: 1px solid #ff853f;
}

.btnn {
    width: 100%;
    background-color: #fff;
}

.tab-content {
    padding: 10px 10px 10px 10px;
}

.form_header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #fff;
}

.form_header_reg {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #ff853f;
}

#li {
    color: #ff853f;
}


/** Hero Section **/

.banner-hotelmanagement {
    height: 300px;
    color: #fff;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: #ff0000;
}

.banner-technical {
    margin-top: 75px;
    margin-bottom: 75px;
    height: 300px;
    color: #fff;
    background-color: #ffaa45;
}

.mob_timeline {
    display: none;
}

.hero_text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff853f;
    font-size: 24px;
    margin-top: -35px;
    text-align: center;
}

.banner-computer {
    margin-top: 75px;
    margin-bottom: 75px;
    height: 300px;
    color: #fff;
    background-color: #e7e7ff;
}

.banner_form {
    border-radius: 15px;
    border: 0px solide #020202b9;
    margin-left: 5px;
    margin-top: 75px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 75px;
    height: 320px;
    width: 300px;
    color: #fff;
    background-color: #020202b9;
}

.banner_form_reg {
    border-radius: 15px;
    margin-left: 5px;
    margin-top: 75px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 75px;
    height: 320px;
    color: #020202b9;
}

.banner_form {
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    border: 2px solide #000;
    margin-left: 5px;
    margin-top: 75px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 75px;
    height: 300px;
    color: #fff;
    z-index: 50;
    background-color:rgba(255, 133, 63, 0.95)
}
a {
    color: #fff;
}

#hero {
    background-image: url("../mainpics/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;
    width: 100%;
    margin-left : 0px;
    margin-top: -100px;
}

.Timeline {
    display: block;
}

#li {
    background-color: #fff;
}


/** Purpose Section **/
.close {
    height: 30px;
}

.badge {
    font-size: 1em;
}

.modal-body {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    padding-bottom: 20px;
}

.purpose_header {
    color: #0099d9;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card_image_one {
    width: 100%;
    height: 200px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.card_image {
    width: 250px;
    height: 130px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300);
#card_title {
    font-size: 20px;
    font-family: Lato;
}

.card_short_desc {
    color: #A9A9A9;
    font-family: Lato;
    font-size: 14px;
}

#card_line {
    background-color: #e7e7e7;
    margin-top: 0px;
}

.card_course {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 210px;
    border-radius: 5px;
}

.card_course:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    top: -5px;
}

.purpose_img {
    width: 50%;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#quote_img {
    color: #0099d9;
    font-size: 80px;
}

#quote {
    font-family: sans-serif;
    font-size: 15px;
}

#li {
    background-color: #fff;
    color: #0099d9;
    border: solid #0099d9 2px;
}

#li:active {
    background-color: #0099d9;
    color: #fff;
    border: solid #0099d9 2px;
}

#li:hover {
    background-color: #0099d9;
    color: #fff;
    border: solid #0099d9 2px;
}

.aff_card_image {
    width: 150px;
    height: 100px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#quote_author {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    color: #0099d9;
}

.aff_card_desc {
    font-size: 14px;
}

.purpose_img_award {
    width: 100%;
}

.aff_card {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.purpose_sub {
    padding: 10px 10px 10px 10px;
    margin-top: 40px;
}

.purpose_body {
    color: #000;
    word-wrap: break-word;
    font-family: 'Lato', sans-serif;
}

.banner-hotelmanagement {
    height: 300px;
    color: #fff;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: #ff0000;
}

.science {
    background-color: #000;
}

.banner-technical {
    margin-top: 75px;
    margin-bottom: 75px;
    height: 300px;
    color: #fff;
    background-color: #ffaa45;
}

.hero_text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0099d9;
    font-size: 24px;
    margin-top: -35px;
    text-align: center;
}

.banner-computer {
    margin-top: 75px;
    margin-bottom: 75px;
    height: 300px;
    color: #fff;
    background-color: #e7e7ff;

}



.hero {
    background-image: url("http://nscsindia.org/images/nscd-banner-home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;
    margin-top: -80px;
}

.aff_image {
    text-align: center;
    width: 150px;
    height: 100px;
}

.affliations {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.aff_desc {
    text-align: center;
}

.icon-bar {
    color: #fff;
    background-color: #fff;
}

.navbar-brand {
    height: 70px;
    text-align: center;
    color: #fff;
    transition: height 1s linear 1s;
}

.navbar-collapse {
    padding-top: 15px;
    transition: height 1s linear 1s;
}

.navbar-nav li a:hover {
    background-color: #ff853f;
    color: #fff;
}

.navbar-nav li a:active {
    background-color: #ff853f;
    color: #fff;
}

.dropdown a:link {
    background-color: #ff853f;
    color: #fff;
}

.dropdown-toggle:link {
    background-color: #ff853f;
    color: #fff;
}

.dropdown-toggle:visited {
    background-color: #ff853f;
    color: #fff;
}

.dropdown-toggle:hover {
    background-color: #ff853f;
    color: #fff;
}

.dropdown-toggle:active {
    background-color: #ff853f;
    color: #fff;
}

.dropdown a:active {
    background-color: #ff853f;
    color: #fff;
}

.dropdown a:visited {
    background-color: #ff853f;
    color: #fff;
}

.dropdown a:hover {
    background-color: #ff853f;
    color: #fff;
}

.dropdown-menu a:link {
    background-color: #ff853f;
    color: #fff;
}

.navbar-nav li a:visited {
    background-color: #ff853f;
    color: #fff;
}

.navbar-nav li a:link {
    background-color: #ff853f;
    color: #fff;
}

.navbar-nav {
    color: #fff;
}

.scrolled-nav {
    height: 50px;
    transition: height 1s linear 1s;
}

.scrolled-nav-collapse {
    padding-top: 0px;
    transition: height 1s linear 1s;
}

.number_header {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 36px;
}

.number_body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}

.number {
    margin-top: 50px;
    margin-bottom: 40px;
}

.number_sub {
    padding: 10px 10px 10px 10px;
    margin-bottom: 40px;
    margin-top: 10px;
}

@media screen and (max-width: 480px) {
    .Timeline {
        display: none;
    }
    .mob_timeline {
        display: block;
    }
}

footer {
    /* background-color: #2c1a00d2; */
    background-image: url("https://images.freecreatives.com/wp-content/uploads/2015/05/black-parchment-paper-texture.jpg");
    min-height: 350px;
    font-family: 'Lato', sans-serif;
}

.footerleft {
    margin-top: 50px;
    padding: 0 36px;
}

.logofooter {
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}

.footerleft p {
    color: #fff;
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.footerleft p i {
    width: 20px;
    color: #fff;
}

.paddingtop-bottom {
    margin-top: 50px;
}

.footer-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 2px;
}

.footer-ul li {
    line-height: 29px;
    font-size: 12px;
}

.footer-ul li a {
    color: #fff;
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.footer-ul i {
    margin-right: 10px;
}

.footer-ul li a:hover {
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
    color: #ff670f;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.icon-ul {
    list-style-type: none !important;
    margin: 0px;
    padding: 0px;
}

.icon-ul li {
    line-height: 75px;
    width: 100%;
    float: left;
}

.icon {
    float: left;
    margin-right: 5px;
}

.copyright {
    min-height: 40px;
    background-color: #000000;
}

.copyright p {
    text-align: left;
    color: #FFF;
    padding: 10px 0;
    margin-bottom: 0px;
}

.heading7 {
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 22px;
}

.post p {
    font-size: 12px;
    color: #FFF;
    line-height: 20px;
}
.post hr {
    text-align:right
}
.post p span {
    display: block;
    color: #fff;
}
.post h4 {
    color: #fff;
}

.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0px;
}

.bottom_ul li {
    float: left;
    line-height: 40px;
}

.bottom_ul li:after {
    content: "/";
    color: #FFF;
    margin-right: 8px;
    margin-left: 8px;
}

.bottom_ul li a {
    color: #FFF;
    font-size: 12px;
}

.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80, 80, 80);
    background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
    background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    z-index: 5;
}

.locations {
    font-family: 'Raleway', sans-serif;

}
.locations h4{

    font-family: 'Lato Medium', sans-serif;
}

#Welcome_text {
    font-family: 'Lato';
    font-size: 28px;
    letter-spacing: 0.5px;
}

#Welcome_desc {
    margin-top: 10px;
    font-family: 'Lato';
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.5px;
}

.timeline li {
    padding: 0.5em 0;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
}

.direction-r {
    position: relative;
    width: 300px;
    float: right;
}

.flag-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(248, 248, 248);
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 600;
    text-align: left;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255, 80, 80);
    z-index: 10;
}

.direction-r .flag:before {
    left: -40px;
}

.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: inline;
    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(250, 80, 80);
    vertical-align: middle;
}

.direction-l .time-wrapper {
    float: left;
}

.direction-r .time-wrapper {
    float: right;
}

.time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248, 248, 248);
}

.desc {
    margin: 1em 0.75em 0 0;
    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
}

.direction-r .desc {
    margin: 1em 0 0 0.75em;
}


/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 700px) {
    .fli {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        padding-bottom: 20px;
        letter-spacing: 1px;
        padding-top: 20px;
    }
    #footer {
        height: 800px;
        padding-top: 50px;
        font-family: 'Open Sans', sans-serif;
    }
    #t {
        text-align: center;
        font-size: 35px;
    }
    #imp {
        font-size: 20px;
    }
    .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
    }
    .timeline li {
        padding: 2em 0;
    }
    .direction-l,
    .direction-r {
        float: none;
        width: 100%;
        text-align: center;
    }
    .flag-wrapper {
        text-align: center;
    }
    .flag {
        background: rgb(255, 255, 255);
        z-index: 15;
    }
    .direction-l .flag:before,
    .direction-r .flag:before {
        position: absolute;
        top: -30px;
        left: 50%;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        margin-left: -9px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid rgb(255, 80, 80);
        z-index: 10;
    }
    .direction-l .flag:after,
    .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255, 255, 255);
        border-width: 8px;
        pointer-events: none;
    }
    .time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
    }
    .direction-l .time-wrapper {
        float: none;
    }
    .direction-r .time-wrapper {
        float: none;
    }
    .desc {
        position: relative;
        margin: 1em 0 0 0;
        padding: 1em;
        background: rgb(245, 245, 245);
        -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
        z-index: 15;
    }
    .direction-l .desc,
    .direction-r .desc {
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;
        z-index: 15;
    }
}

@media screen and (min-width: 600px) {
    .direction-l .desc,
    .direction-r .desc {
        margin: 1em 4em 0 4em;
    }
}

.banner_right {
    left: 0;
    top: 0;
    right: 0;
}

.linear_grad .row {
    margin-top: 180px;
}
.linear_grad {
    background-image: url("../mainpics/ach.jpg");
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: scroll; 
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 480px) {
    .linear_grad {
        background-image: url("../mainpics/ach-mob.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        color: rgb(255, 255, 255);
    }
    
}

.linear_grad h1{
    padding: 50px;
    text-align: center;
    color: rgb(170, 230, 255);
} 

.imghover{
    position: relative;
    height: 350px;
    width: 530px;
    margin: auto;
}

.img_text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1d1d1dcb;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    margin: 0 auto;
  }
.imghover:hover .img_text {
    visibility: visible;
    opacity: 1;
    transition: 1s ease;
  }

  .img_award{
      height: 350px;
      width: 530px;
  }
  .award{
    font-family: 'Lato', sans-serif;
  }


  @media screen and (max-width: 480px) {
    .imghover{
        width:100%;
    }
  .img_award{
    width: 100%;
}

}
  .slideshow {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slideshow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    -webkit-animation-name: kenburns;
    animation-name: kenburns;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.slideshow-image:nth-child(1) {
    -webkit-animation-name: kenburns-1;
    animation-name: kenburns-1;
    z-index: 4;
}

.slideshow-image:nth-child(2) {
    -webkit-animation-name: kenburns-2;
    animation-name: kenburns-2;
    z-index: 3;
}

.slideshow-image:nth-child(3) {
    -webkit-animation-name: kenburns-3;
    animation-name: kenburns-3;
    z-index: 2;
}

.slideshow-image:nth-child(4) {
    -webkit-animation-name: kenburns-4;
    animation-name: kenburns-4;
    z-index: 1;
}
.slideshow-image:nth-child(5) {
    -webkit-animation-name: kenburns-5;
    animation-name: kenburns-5;
    z-index: 0;
}

@-webkit-keyframes kenburns-1 {
    0% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    1.5625% {
        opacity: 1;
    }
    23.4375% {
        opacity: 1;
    }
    26.5625% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    98.4375% {
        opacity: 0;
        -webkit-transform: scale(1.21176);
        transform: scale(1.21176);
    }
    100% {
        opacity: 1;
    }
}

@keyframes kenburns-1 {
    0% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    1.5625% {
        opacity: 1;
    }
    23.4375% {
        opacity: 1;
    }
    26.5625% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    98.4375% {
        opacity: 0;
        -webkit-transform: scale(1.21176);
        transform: scale(1.21176);
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes kenburns-2 {
    23.4375% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    26.5625% {
        opacity: 1;
    }
    48.4375% {
        opacity: 1;
    }
    51.5625% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes kenburns-2 {
    23.4375% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    26.5625% {
        opacity: 1;
    }
    48.4375% {
        opacity: 1;
    }
    51.5625% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@-webkit-keyframes kenburns-3 {
    48.4375% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    51.5625% {
        opacity: 1;
    }
    69.4375% {
        opacity: 1;
    }
    76.5625% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes kenburns-3 {
    48.4375% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    51.5625% {
        opacity: 1;
    }
    69.4375% {
        opacity: 1;
    }
    76.5625% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@-webkit-keyframes kenburns-4 {
    69.4375% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    76.5625% {
        opacity: 1;
    }
    82.4375% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes kenburns-4 {
    69.4375% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    76.5625% {
        opacity: 1;
    }
    82.4375% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes kenburns-5 {
    73.43%{
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    88.4375% {
        opacity: 1;
    }
    98.4375% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes kenburns-5 {
    73.43%{
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    88.4375% {
        opacity: 1;
    }
    98.4375% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}



/*Now the CSS*/


.treee{
    margin: auto;
}
.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}
.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}



/*Thats all. I hope you enjoyed it.
Thanks :)*/


.car{
    margin-top: 150px;
    height: 300px;
    width: 90%;
    border-radius: 10px;
    background-color: rgb(255, 254, 254);
    border: 1px solid #b1b1b1;
    box-shadow: 0px 15px 20px -15px #111; 
    
}

.imgg{
    margin: 8px auto;
}
.car img{
    display: block;
    margin: auto;
    border-radius: 50%;
    align-content: center;
}
.car h4{
    margin:10px 40px;
}
