                <div class="row container-fluid">
                    <div class="col-sm-4">
                        <button id="btn_skill1" class="btn btn-primary">Skill 1</button>


                        <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first
                            projects on the web.</p>


                    </div>
                    <div class="col-sm-4">
                        <button id="btn_skill1" class="btn btn-primary">Skill 1</button>


                        <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first
                            projects on the web.</p>


                    </div>
                    <div class="col-sm-4">
                        <button id="btn_skill1" class="btn btn-primary">Skill 1</button>


                        <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first
                            projects on the web.</p>


                    </div>
                </div>                <div class="row container-fluid">
                    <div class="col-sm-4">
                        <button id="btn_skill1" class="btn btn-primary">Skill 1</button>


                        <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first
                            projects on the web.</p>


                    </div>
                    <div class="col-sm-4">
                        <button id="btn_skill1" class="btn btn-primary">Skill 1</button>


                        <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first
                            projects on the web.</p>


                    </div>
                    <div class="col-sm-4">
                        <button id="btn_skill1" class="btn btn-primary">Skill 1</button>


                        <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first
                            projects on the web.</p>


                    </div>
                </div>